.header{
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 100;
    padding: 3rem;
    border-bottom: 1px solid grey;
    background-color: black;
    opacity: .3;
    &__list{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
        list-style: none;
        font-family: $titleFont;
        font-size: 1.5rem;
        color: beige;
    }
}