.page {
  height: calc(100vh - 6rem);
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/sunset.jpeg");
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__title{
    color: beige;
    position: absolute;
    top:0;
    font-family: $titleFont;
    transform: translateY(29rem);
    font-size: 3rem;
    text-align: center;
    line-height: 5.5rem;
    max-width: 730px;
    -webkit-box-reflect: below 1rem linear-gradient(transparent, transparent,rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    animation:fadeInUpBig;
    animation-duration: 3s;
    }@keyframes fadeInUpBig {
      from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
      }
    
      to {
        opacity: 1;
        transform: translateY(29rem); 
      }
    }
}
