// .studio__body{
//     display:flex;
//     flex-direction:row;
//     justify-content:center;
//     align-items:center;
// overflow:hidden;
//       height:100vh;
//     font-family: 'Roboto', sans-serif;
//     transition:.25s;

// }

.no__header{
    width: 100vw;
    height: 10rem;
    background-color: white;

}

.materials_section{
   padding: 6rem;
   position: relative;

}
.materials__article{
   padding-bottom: 6rem;

}

// .credit {
//     position: absolute;
//     bottom:2rem;
//     left:2rem;
//     color:inherit;
//  }

 .options__section{
    width: 100vw;
    display: flex;
    flex-direction: column;
   //  justify-content: space-around;
    align-items: center;
    position: absolute;

 }
 .options__title{
   font-family: $titleFont;
   font-size: 2rem;
   position: relative;
   z-index: 200;
   padding: 3rem;
   color:#3f51b1;
   font-weight: 600;

 }

 .options {
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 8rem;
    position:absolute;
    background: linear-gradient(
    -45deg,
    #3f51b1 0%,       /* Azul medio */
    #5468b8 13%,      /* Azul */
    #6a7dbf 25%,      /* Azul */
    #7f92c6 38%,      /* Azul */
    #95a7cd 50%,      /* Azul */
    #abbdd5 62%,      /* Azul claro */
    #c1d2dc 75%,      /* Azul claro */
    #d7e7e3 87%,      /* Azul claro */
    #edfcf0 100%      /* Azul pastel */
);

    animation: animate 6s ease-in-out infinite;
    background-size: 400% 400%;
    padding-bottom: 8rem;
    
   //  align-items:stretch;
   //  overflow:hidden;
    // min-width:600px;
   //  // max-width:900px;
   //  width:calc(100% - 10rem);
  
    
    // @for $i from 1 through 4 {
    //    @media screen and (max-width:798px) {
    //       min-width:600px - $i*80;
    //       .option:nth-child(#{6-$i}) {
    //          display:none;
    //       }
    //    }
    // }
    
    .option {
      //  position: relative;
      //  overflow:hidden;
       min-width:6rem;
       margin-bottom:2rem;
       margin-top: 2rem;
       height: 22rem;
      //  border:0px solid --defaultColor;
       background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
       background-size:auto 130%;
       background-position:center;
       background-color: #E6E9ED;
    
       cursor: pointer;
       transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
       position:relative;
       box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

      //  @for $i from 1 through length($optionDefaultColours) {
      //     &:nth-child(#{$i}) {
      //        --defaultBackground:#{nth($optionDefaultColours, $i)};
      //     }
      //  }
       &.active {
         //  flex-grow:10000;
          transform:scale(1);
         //  max-width:600px;
          margin:0rem;
          border-radius:4rem;
          background-size:auto 110%;
         //  .shadow {
         //     box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
         //  }
          .label {
             bottom:2rem;
             left:2rem;
             .info >div {
                left:0rem;
                opacity:1;
             }
          }
          /*&:active {
             transform:scale(0.9);
          }*/
       }
       &:not(.active) {
          flex-grow:1;
          
          border-radius:3rem;
         //  .shadow {
         //     bottom:-40px;
         //     box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
         //  }
          .label {
             bottom:1rem;
             left:1rem;
             .info >div {
                left:2rem;
                opacity:0;
             }
          }
       }
      //  .shadow {
      //     position: absolute;
      //     bottom:0px;
      //     left:0px;
      //     right:0px;
      //     height:120px;
      //     transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      //  }
       .label {
          display:flex;
          position: absolute;
          right:0;
          height:4rem;
          transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
       
          .info {
             display:flex;
             flex-direction:column;
             justify-content:center;
             
             margin-left:1rem;
             
             color:white;
             
             white-space: pre;
             >div {
                position: relative;
                
                transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
             }
             .main {
                font-weight:bold;
                font-size:1.2rem;
                font-family: $textFont;
                color: beige;
             }
             .sub {
                transition-delay:.1s;
                font-family: $textFont;
         
             }
          }
       }
    }
 }

 
