<section class="second__section">
  <div class="second__section--art">
    <p class="second__section--text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, voluptate modi aperiam doloremque dicta error vitae maiores hic quasi necessitatibus perspiciatis ea accusamus, nemo mollitia quos omnis, aspernatur atque! Amet?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe nam necessitatibus explicabo consequatur, repellat ad odit blanditiis deleniti sapiente rem animi aspernatur illo tempore illum sit exercitationem, fugiat accusamus!Loremlorem Lorem ipsum dolor sit amet possimus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem lorem lorem lorem lorem  lorem lorem lorem 
    </p>


  </div>

  </section>