<section class="materials__section">
    <div class="no__header"></div>
    <article class="materials__article">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ex optio. Minus magni, animi ipsa autem ea fuga, veniam impedit vero quod possimus ipsum temporibus cum repudiandae fugit? Perspiciatis, cumque.lorem</p>
    </article>

</section>

<section class="options__section">
    <div>
        <h1  class="options__title">MONUMENTOS FUNERARIOS</h1>
    </div>
   
<div class="options">
    <div class="option active" style="--optionBackground:url(/images/panteon.jpeg);">
         <div class="label">
        
          <div class="info">
             <div class="main">Panteones</div>
             <div class="sub">Descansa con los tuyos</div>
          </div>
         </div>
    </div>
    <div class="option" style="--optionBackground:url(/images/lapida.jpeg);">
       <div class="shadow"></div>
       <div class="label">
      
          <div class="info">
             <div class="main">Lápidas</div>
             <div class="sub">Eterno jardín</div>
          </div>
       </div>
    </div>
    <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
       <div class="shadow"></div>
       <div class="label">
   
          <div class="info">
             <div class="main">Iteresuselle</div>
             <div class="sub">Omuke trughte a otufta</div>
          </div>
       </div>
    </div>
    <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
       <div class="shadow"></div>
       <div class="label">
        
          <div class="info">
             <div class="main">Idiefe</div>
             <div class="sub">Omuke trughte a otufta</div>
          </div>
       </div>
    </div>
    <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
       <div class="shadow"></div>
       <div class="label">
      
          <div class="info">
             <div class="main">Inatethi</div>
             <div class="sub">Omuke trughte a otufta</div>
          </div>
       </div>
    </div>
 </div>
</section>

 
