/*
@import 'components/code';
@import 'components/links';
@import 'pages/index';
*/
body {
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/page';
@import 'layout/footer';